# Dependências do Node.js
node_modules/

# Arquivos compilados
dist/

# Variáveis de ambiente e dados privados
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Configurações locais do VS Code
.vscode/ 